**/lwc/**/*.css aakjdhdyhe uyc jc  
**/lwc/**/*.html.  hdggfteadgic
**/lwc/**/*.json i am mmmmmmmmm
**/lwc/**/*.svg
**/lwc/**/*.xml
**/aura/**/*.auradoc
**/aura/**/*.cmp
**/aura/**/*.css
**/aura/**/*.design
**/aura/**/*.evt
**/aura/**/*.json
**/aura/**/*.svg
**/aura/**/*.tokens
**/aura/**/*.xml
**/aura/**/*.app
.sfdx
